<div class="col-md-2 temp-nav">
    <%= render 'menu' %>
</div>
<div class="col-md-10">
  <div class="row">
    <% if @cliente.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

        <ul>
          <% @cliente.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <h3>Novo Cliente</h3>
  <%= render 'form' %>
</div>